.git
.gitignore
.env
*.pyc
__pycache__
node_modules
.vite
.vscode
.idea
.DS_Store
Thumbs.db
data/cache/*
data/images/*
runtime/logs/*
runtime/state/*
*.db
*.md
frontend/node_modules
frontend/src
frontend/.vite
